In [34]:
import pandas as pd
import ast

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
movies.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [7]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [10]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [18]:
movies = movies[['id', 'title', 'overview', 'genres', 'vote_average']]

In [36]:
def extract_genre_names(genre_list):
    try:
        genre_list = ast.literal_eval(genre_list)
        return ', '.join([genre['name'] for genre in genre_list])
    except (ValueError, SyntaxError):
        return ''

In [37]:
movies['genres'] = movies['genres'].apply(extract_genre_names)

In [40]:
movies['tags'] = movies['overview'] + movies['genres']

In [44]:
newMovies = movies.drop(columns=['overview', 'genres'])

In [45]:
newMovies

,id,title,vote_average,tags
0,19995,Avatar,7.2,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,6.9,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,6.3,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,7.6,Following the death of District Attorney Harve...
4,49529,John Carter,6.1,"John Carter is a war-weary, former military ca..."
...,...,...,...,...
4798,9367,El Mariachi,6.6,El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,5.9,A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered",7.0,"""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,5.7,When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,6.3,Ever since the second grade when he first saw ...

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

In [46]:
countVector = CountVectorizer(max_features=4803, stop_words='english')

In [48]:
vector = countVector.fit_transform(newMovies['tags'].values.astype('U')).toarray()

In [49]:
vector.shape

(4803, 4803)